<app-header></app-header>
<app-navbar></app-navbar>

<div class="checkout">

  <div class="container">
    <div style="margin-bottom: 50px">
      <a  [routerLink] ="['/create-product/']">Thêm sản phẩm</a>
    </div>


    <div class="checkout-right">
      <table class="timetable_sub">
        <thead>
        <tr>
          <th>STT</th>
          <th>Ảnh</th>
          <th>Số Lượng</th>
          <th>Tên Sản Phẩm</th>

          <th>Giá</th>
          <th>Chức Năng</th>

        </tr>
        </thead>
        <tr class="rem1" *ngFor="let product of products,index as i">
          <td class="invert">{{i + 1}}</td>
          <td class="invert-image"><a href="single.html"><img src="" alt=" " class="img-responsive"/></a>
          </td>
          <td class="invert">
            <div class="quantity">
              <div class="quantity-select">
                <div>{{product.quantity}}</div>

              </div>
            </div>
          </td>
          <td class="invert">{{product.name}}</td>

          <td class="invert">{{product.price}}</td>
          <td class="invert">
            <div class="rem">
              <button type="submit" class="btn btn-primary" style="margin-right: 30px" data-toggle="modal" data-target="#exampleModalEditProductMyShop" [routerLink]="['/edit-product-my-shop',product.id]">Sửa</button>
              <button class="btn btn-danger" (click)="deleteProduct(product.id)">Xóa</button>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<app-footer></app-footer>
