<div class="top-brands">
  <div class="container" style="background: whitesmoke;width: 90%">
    <h2>Danh Sách Sản Phẩm</h2>
    <div class="grid_3 grid_5" style="border-radius: 5px">
      <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
        <div id="myTabContent" class="tab-content" style="border:1px solid #fe9126;background-color: white;border-radius: 5px">

          <div class="products-right-grid" style="margin-top: 20px; margin-left: 830px">
            <div class="products-right-grids">
              <div class="sorting">
                <select #sort (change)="sortByAll(sort.value)" style="width: 78%;height: 25%;border-radius: 5px;border: 1px solid grey">
                  <option value="1"><i class="fa fa-arrow-right" aria-hidden="true"></i>Sắp Xếp Theo Số Lượng</option>
                  <option value="0"><i class="fa fa-arrow-right" aria-hidden="true"></i>Sắp Xếp Theo Tên</option>
                  <option value="2"><i class="fa fa-arrow-right" aria-hidden="true"></i>Sắp Xếp Theo Giá</option>

                </select>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane fade in active" id="expeditions" aria-labelledby="expeditions-tab" style="border-radius: 13px">
            <div class="agile_top_brands_grids" style="margin-top: 10px;border-radius: 5px" >
              <div class="col-md-3 top_brand_left" style="border-radius: 5px;width: 260px;height: auto;"
                   *ngFor="let product of products|paginate: { itemsPerPage: 12, currentPage: p, totalItems: total }, index as i" >
                <div class="hover14 column" style="border: 1px solid grey;border-radius: 5px">
                  <div class="agile_top_brand_left_grid" style="border-radius: 5px;padding: 0">
                    <figure>
                      <div class="snipcart-item block" style="width: 250px;height: 350px">
                        <div class="snipcart-thumb" >
                          <img
                            src="{{product.image[0].image}}"
                            class="img-responsive-home"/>
                          <p><a href="#" [routerLink]="['/product-detail',product.id]"
                                class="show-product-home">{{product.name}}</a></p>
                          <h4 style="font-size: 14px; margin-top: 15px; text-align: center;color: #fe9126"> {{product.price}} $</h4>
                        </div>
                        <div class="snipcart-details top_brand_home_details" >
                          <button class="btn button-edit button-shop" style="margin-right: 55px;font-size: 14px;height: 48px; width: 200px"><i class="fa-solid fa-basket-shopping"
                                                                         style="margin-right: 5px;"></i>Thêm
                            Vào Giỏ Hàng
                          </button>
                          <br>
                        </div>
                      </div>
                    </figure>
                  </div>
                </div>
                <br>
              </div>
              <div class="clearfix">
              </div>
            </div>
          </div>
          <nav class="numbering">
            <ul class="pagination paging">
              <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

