<app-header></app-header>
<app-navbar></app-navbar>
<div class="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
      <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
      <li class="active">Household</li>
    </ol>
  </div>
</div>
<!-- //breadcrumbs -->
<!---728x90--->
<!--- household --->
<div class="products">
  <div class="container">
    <div class="col-md-4 products-left">
      <div class="categories">
        <h2>Categories</h2>
        <ul class="cate">
          <li><a href="products.html"><i class="fa fa-arrow-right" aria-hidden="true"></i>Grocery & Staples</a></li>
          <ul>
            <li>
              <form [formGroup]="product" (ngSubmit)="searchByAll()">
                <p>tìm theo tên</p>
                <input type="text" name="" formControlName="name" placeholder="Search for a Product...">
                <p>tìm theo mô tả sản phẩm</p>
                <input type="text" name="" formControlName="description" placeholder="Search for a Product...">
                <p>tìm từ giá ...</p>
                <input type="number" name="" formControlName="from" placeholder="giá từ...">
                <p>tìm đến giá</p>
                <input type="number" name="" formControlName="to" placeholder="đến khoảng...">
                <button type="submit" class="btn btn-default search">
                  <i class="fa fa-search" aria-hidden="true"> </i>
                </button>
              </form>
            </li>
          </ul>
        </ul>
      </div>
    </div>
    <div class="col-md-8 products-right">
      <div class="products-right-grid">
        <div class="products-right-grids">
          <div class="sorting">
            <select #sort (change)="sortByAll(sort.value)" >
              <option value="0"><i class="fa fa-arrow-right" aria-hidden="true"></i>Default sorting</option>
              <option value="1"><i class="fa fa-arrow-right" aria-hidden="true"></i>Sắp Xếp Theo Số Lượng</option>
              <option value="2"><i class="fa fa-arrow-right" aria-hidden="true"></i>Sắp Xếp Theo Giá</option>

            </select>
          </div>

          <div class="clearfix"> </div>

          <div class="w3l_search">

          </div>


        </div>
      </div>
      <div class="agile_top_brands_grids">
<!--        <div class="hover14 column" *ngIf="filterStatus=='Default-sorting'||(filterStatus=='Sắp Xếp Theo Giá'&& sortByPrice())"></div>-->
        <div class="col-md-4 top_brand_left" *ngFor="let product of productByCate|paginate: { itemsPerPage: 2, currentPage: p, totalItems: total }, index as i">
<!--          <div class="hover14 column" *ngIf="filterStatus==='Default-sorting'||(filterStatus==='Sắp Xếp Theo Giá'&& sortByPrice())">-->
            <div class="agile_top_brand_left_grid">
              <div class="agile_top_brand_left_grid1">
                <figure>
                  <div class="snipcart-item block">
                    <div class="snipcart-thumb">
                      <a href="single.html"><img
                        src="{{product.image[0].image}}"
                        style="width: 500px"/></a>
                      <p><a href="#" [routerLink]="['/product-detail',product.id]">{{product.name}}</a></p>
                      <h4>{{product.price}} $</h4>
                    </div>
                    <div class="snipcart-details top_brand_home_details" *ngIf="userId != product.user.id">
                      <input type="submit" name="submit" value="Thêm vào giỏ hàng"  class="button"/>
                      <br>
                    </div>
                    <div class="snipcart-details top_brand_home_details" *ngIf="userId == product.user.id">
                      <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModalEdit" [routerLink]="['/edit-product',product.id]">Sửa</button>
                      <br>
                    </div>
                  </div>
                </figure>
              </div>
            </div>
          </div>
<!--        </div>-->
        <div class="clearfix"> </div>
      </div>

      <nav class="numbering">
        <ul class="pagination paging">
          <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
        </ul>
      </nav>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<app-footer></app-footer>
