
<!-- Modal -->
<app-list-product></app-list-product>
<div class="modal fade" id="exampleModalCreateProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel" style="text-align: center">Thêm Mới Sản Phẩm</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="productForm" (ngSubmit)="add()">
                  <div class="row">
                    <label style="margin-left: 20%">Tên sản phẩm:</label>
                    <input class="form-control" type="text" placeholder="Tên sản phẩm" formControlName="name"
                           style="width: 500px; height: 35px;margin-left: 20%">
                    <div *ngIf="name?.invalid && (name?.dirty || name?.touched)">
                      <div style="color: red" *ngIf="name?.errors?.['required']">
                        <div>Tên sản phẩm không được bỏ trống</div>
                      </div>
                    </div>
                    <label style="margin-left: 20%">Nội dung :</label>
                    <input class="form-control" type="textarea" placeholder="Mô tả sản phẩm" formControlName="description"
                           style="width: 500px; height: 35px ;margin-left: 20%">
                    <div *ngIf="description?.invalid && (description?.dirty || description?.touched)">
                      <div style="color: red" *ngIf="description?.errors?.['required']">
                        <div>Nội dung sản phẩm không được bỏ trống</div>
                      </div>
                    </div>
                    <label style="margin-left: 20%">Giá sản phẩm:</label>
                    <input class="form-control" type="number" placeholder="Giá sản phẩm" formControlName="price"
                           style="width: 500px; height: 35px;margin-left: 20%">
                    <div *ngIf="price?.invalid && (price?.dirty || price?.touched)">
                      <div style="color: red" *ngIf="price?.errors?.['required']">
                        <div>Giá sản phẩm không được bỏ trống</div>
                      </div>
                    </div>
                    <label  style="margin-left: 20%">Số lượng sản phẩm:</label>
                    <input class="form-control" type="number" placeholder="Số lượng sản phẩm" formControlName="quantity"
                           style="width: 500px; height: 35px ;margin-left: 20%">
                    <div *ngIf="quantity?.invalid && (quantity?.dirty || quantity?.touched)">
                      <div style="color: red" *ngIf="quantity?.errors?.['required']">
                        <div>Số lượng sản phẩm không được bỏ trống</div>
                      </div>
                    </div>
                    <label style="margin-left: 20%">Loại Sản Phẩm:</label>
                    <select  formControlName="categoryId" class="form-control" style="width: 500px; height: 35px;margin-left: 20%">
                      <option *ngFor="let category of listCategory" value="{{category.id}}">
                        {{category.name}}
                      </option>
                    </select>
                    <div *ngIf="categoryId?.invalid && (categoryId?.dirty || categoryId?.touched)">
                      <div style="color: red" *ngIf="categoryId?.errors?.['required']">
                        <div>Loại sản phẩm không được bỏ trống</div>
                      </div>
                    </div>
                    <label style="margin-left: 20%">Ảnh :</label>

                    <input type="file" placeholder="Chọn ảnh" id="file"
                           #userPhoto
                           multiple
                           (change)="showPreview($event)"
                           formControlName="image"
                           autocomplete="off" class="custom-file-input" id="inputGroupFile01" style="margin-left: 20%">
                    <div *ngFor="let img of images" style=" width: 60%; height: 250px;margin-left: 270px;margin-top: 20px">
                      <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="border:1px solid white; height:100%; width:50%"
                           src="{{img}}"
                           alt="">
                    </div>
                  </div>
          <div class="modal-footer">
            <button type="submit" class="btn button-edit" style="margin-right: 375px">Thêm</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
