<!--<app-navbar></app-navbar>-->
<!--<div class="modal fade" id="exampleModalCreate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog" >-->
<!--    <div class="modal-content" style="width: 70%;margin-left: 115px">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="exampleModalLabel">Thêm Sản Phẩm</h5>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <form [formGroup]="productForm" (submit)="add()">-->
<!--          <label>Tên sản phẩm:</label>-->
<!--          <input type='text' formControlName="name" class="form-control" placeholder="Tên sản phẩm"><br>-->
<!--          <label>Loại</label>-->
<!--          <select class="form-control" formControlName="categoryId">-->
<!--            <option *ngFor="let categories of listCategory" value="{{categories.id}}">-->
<!--              {{categories.name}}-->
<!--            </option>-->
<!--          </select><br>-->
<!--          <label>Số lượng sản phẩm:</label>-->
<!--          <input type='number' formControlName="quantity" class="form-control" placeholder="Số lượng sản phẩm"><br>-->
<!--          <label>Nội dung:</label>-->
<!--          <input type="textarea" formControlName="description" class="form-control" placeholder="Nội dung"><br>-->
<!--          <label>Giá:</label>-->
<!--          <input type="number" formControlName="price" class="form-control" placeholder="Giá" min="1" value="1"><br>-->
<!--          <label>Chọn ảnh:</label>-->

<!--          <input type="file" placeholder="Chọn ảnh" id="file"-->
<!--                 #userPhoto-->
<!--                 multiple-->
<!--                 (change)="showPreview($event)"-->
<!--                 name="image"-->
<!--                 autocomplete="off" class="custom-file-input" id="inputGroupFile01">-->
<!--          <div *ngFor="let img of images" style="width: 30%; margin: 1%; float: left; height: 250px; overflow: hidden">-->
<!--            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4"-->
<!--                 style="width: 100%"-->
<!--                 src="{{img}}"-->
<!--                 alt="">-->
<!--          </div>-->

<!--          <div class="modal-footer">-->
<!--            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--            <button type="submit" class="btn btn-primary">Thêm</button>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<app-navbar></app-navbar>
<br>
<div class="container">
  <div class="row">
    <div class="col-8">
      <h5 style="text-align: center">Thêm sản phẩm </h5> <br>

      <form [formGroup]="productForm" (ngSubmit)="add()" style="margin-left: 0% ; border: groove 3px; ">
        <div class="row">
          <label style="margin-left: 20%">Tên sản phẩm:</label><br>
          <input type="text" placeholder="Tên sản phẩm" formControlName="name"
                 style="width: 500px; height: 35px;margin-left: 20%"> <br>
          <br>
          <label style="margin-left: 20%">Nội dung :</label><br>
          <input type="text" placeholder="Nội dung" formControlName="description"
                 style="width: 500px; height: 35px ;margin-left: 20%"> <br>
          <br>
          <label style="margin-left: 20%">Gía sản phẩm:</label><br>
          <input type="text" placeholder="Gía sản phẩm" formControlName="price"
                 style="width: 500px; height: 35px;margin-left: 20%"><br>
          <br>
          <label style="margin-left: 20%">Số lượng sản phẩm:</label><br>
          <input type="text" placeholder="Số lượng sản phẩm" formControlName="quantity"
                 style="width: 500px; height: 35px ;margin-left: 20%"><br>
          <br>
          <label style="margin-left: 20%">Danh mục :</label><br>
          <select formControlName="categoryId" style="margin-left: 20%">
            <option *ngFor="let categories of listCategory" value="{{categories.id}}">
              {{categories.name}}
            </option>
          </select><br>
          <br>
          <label style="margin-left: 20%">Ảnh :</label>


          <input type="file" placeholder="Chọn ảnh" id="file"
                 #userPhoto
                 multiple
                 (change)="showPreview($event)"
                 name="image"
                 autocomplete="off" class="custom-file-input" id="inputGroupFile01" style="margin-left: 20%">
          <div *ngFor="let img of images" style="width: 30%; margin: 1%; float: left; height: 250px; overflow: hidden">
            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4"
                 src="{{img}}"
                 alt="">
          </div>
          <br>
          <button type="submit" style="margin-left: 10%">Thêm</button>
          <br>
        </div>
      </form>

    </div>
  </div>
</div>
