<app-header></app-header>
<app-navbar></app-navbar>

<div class="checkout">

  <div class="container" style="width: 80%">
    <div style="margin-bottom: 50px">
      <form [formGroup]="phoneSearch" (submit)="searchPhone()">
        <input type="text" formControlName="phone" placeholder="Nhập số điện thoại khách hàng cần tìm">
        <button type="submit">Tìm kiếm</button>
      </form>
    </div>


    <div style="">
      <table class="timetable_sub" style="border:2px solid #CDCDCD;border-radius: 10px">
        <thead>
        <tr>
          <th style="font-size: large">STT</th>
          <th style="font-size: large">Tên khách hàng</th>
          <th style="font-size: large">Số điện thoại</th>
        </tr>
        </thead>
        <tr class="rem1" *ngFor="let item of users,index as i">
          <td class="invert">{{i + 1}}</td>
          <td><a [routerLink]="['/customer-shop', item.id]">
            <div style="font-size: medium;">{{item.name}}</div>
          </a>
          </td>
          <td class="invert">
            <div class="quantity">
              <div class="quantity-select">
                <div style="font-size: medium;">{{item.phone}}</div>

              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<app-footer></app-footer>
