<app-header></app-header>
<app-navbar></app-navbar>
<app-image></app-image>
<app-list></app-list>
<!-- /.carousel -->
<!--banner-bottom-->
<div class="ban-bottom-w3l">
  <div class="container">
    <div class="col-md-6 ban-bottom3">
      <div class="ban-top">
        <img src="https://tcebvietnam.com.vn/Portals/59/xNews/Uploads/2018/4/14/nguyen-tac-vang-can-luu-y-trong-thiet-ke-sieu-thi-1-2-3.jpg" class="img-responsive-showHome" alt=""/>

      </div>
      <div class="ban-img">
        <div class=" ban-bottom1">
          <div class="ban-top">
            <img src="https://png.pngtree.com/thumb_back/fw800/background/20210903/pngtree-supermarket-convenience-store-snack-shelf-retail-photography-map-with-map-image_794822.jpg" class="img-responsive-showHome" alt=""/>

          </div>
        </div>
        <div class="ban-bottom2">
          <div class="ban-top">
            <img src="https://tcebvietnam.com.vn/Portals/59/xNews/Uploads/2018/4/14/nguyen-tac-vang-can-luu-y-trong-thiet-ke-sieu-thi.jpg" class="img-responsive-showHome" alt=""/>

          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-md-6 ban-bottom">
      <div class="ban-top">
<!--        <img src="https://img.lovepik.com/photo/20211119/medium/lovepik-environmental-background-of-urban-supermarket-picture_500179408.jpg" class="img-responsive-showHome" alt=""/>-->
        <img src="https://thietkenoithatsieuthi.com/Portals/86/xNews/Uploads/2018/3/26/nguyen-tac-vang-can-luu-y-trong-thiet-ke-sieu-thi-1.jpg" style="width: 640px" alt=""/>
      </div>
    </div>

    <div class="clearfix"></div>
  </div>
</div>
<app-new-product></app-new-product>
<app-footer></app-footer>
