<app-header></app-header>
<app-navbar></app-navbar>

<div class="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
      <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
      <li class="active">Singlepage</li>
    </ol>
  </div>
</div>
<!-- //breadcrumbs -->
<!---728x90--->

<div class="products">
  <div class="container">
    <div class="agileinfo_single">

      <div class="col-md-4 agileinfo_single_left">
        <img
          src="{{obj.image[0].image}}"
          class="img-responsive"/>
      </div>
      <div class="col-md-8 agileinfo_single_right">

        <h2>Tên sản phẩm : {{obj.name}}</h2>
        <div class="w3agile_description">
          <h4>Mô tả sản phẩm :</h4>
          <p>{{obj.description}}</p>
        </div>
        <div class="snipcart-item block">
          <div class="snipcart-thumb agileinfo_single_right_snipcart">
            <h4 class="m-sing">Giá :{{obj.price}} $</h4>
          </div>
          <div class="snipcart-details top_brand_home_details" *ngIf="userId != obj.user.id">
            <input type="submit" name="submit" value="Thêm vào giỏ hàng"  class="button"/>
            <br>
          </div>
          <div class="snipcart-details top_brand_home_details" *ngIf="userId == obj.user.id">
            <button class="btn button-ed button-edit" data-toggle="modal" data-target="#exampleModalEdit" [routerLink]="['/edit-product',obj.id]"><i class="fa-solid fa-trash-can" style="margin-right: 5px"></i>Sửa</button>
            <br>
          </div>
          <br>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>


  <div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
      <div class="d-flex flex-column col-md-8" *ngFor="let item of listComment">
        <div class="d-flex flex-row align-items-center text-left comment-top p-2 bg-white border-bottom px-4">
          <div
            class="commented-section mt-2">
            <div class="d-flex flex-row align-items-center commented-user">
              <h5 class="mr-2">{{item.user.name}}</h5></div>
            <div class="comment-text-sm"><span>{{item.description}}</span></div>
            <div
              class="reply-section">
              <div class="d-flex flex-row align-items-center voting-icons"><i class="fa fa-sort-up fa-2x mt-3 hit-voting"></i>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
      <div class="d-flex flex-column col-md-8">
        <div class="d-flex flex-row align-items-center text-left comment-top p-2 bg-white border-bottom px-4">
        </div>
        <div class="coment-bottom bg-white p-2 px-4">
          <div class="d-flex flex-row add-comment-section mt-4 mb-4">
            <form [formGroup]="commentForm" (ngSubmit)="submit()">
              <input type="text" class="form-control mr-3" placeholder="Add comment" formControlName="description"> <br>
              <button class="btn btn-primary" type="submit">Comment</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
