<app-header></app-header>
<app-navbar></app-navbar>

<div class="breadcrumbs">
  <div class="container">
    <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
      <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
      <li class="active">Singlepage</li>
    </ol>
  </div>
</div>
<!-- //breadcrumbs -->
<!---728x90--->

<div class="products">
  <div class="container">
    <div class="agileinfo_single">

      <div class="col-md-4 agileinfo_single_left">
        <img id="example" src="https://uploads-ssl.webflow.com/5ce272038eff8bc2bf0b7a0e/5f929df0fd248ba1eecd80db_iphone-12%20(15).jpg" alt=" " class="img-responsive">
      </div>
      <div class="col-md-8 agileinfo_single_right">
        <h2>{{obj.name}}</h2>
        <div class="w3agile_description">
          <h4>Description :</h4>
          <p>{{obj.description}}</p>
        </div>
        <div class="snipcart-item block">
          <div class="snipcart-thumb agileinfo_single_right_snipcart">
            <h4 class="m-sing">{{obj.price}} $</h4>
          </div>
          <div class="snipcart-details agileinfo_single_right_details">
            <form action="#" method="post">
              <fieldset>
                <input type="hidden" name="cmd" value="_cart">
                <input type="hidden" name="add" value="1">
                <input type="hidden" name="business" value=" ">
                <input type="hidden" name="item_name" value="pulao basmati rice">
                <input type="hidden" name="amount" value="21.00">
                <input type="hidden" name="discount_amount" value="1.00">
                <input type="hidden" name="currency_code" value="USD">
                <input type="hidden" name="return" value=" ">
                <input type="hidden" name="cancel_return" value=" ">
                <input type="submit" name="submit" value="Add to cart" class="button">
              </fieldset>
            </form>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<app-footer></app-footer>
