<app-header></app-header>
<app-navbar></app-navbar>

<div class="checkout">
  <div class="container" style="width: 70%">
    <select style="width: 18% ;height: 34px;border-radius: 5px;border: 1px solid black;margin-top:70px;margin-bottom: 30px"
            #sort (change)="sortByCart(sort.value)">
      <option value="0" style="color: #259f40 "><i class="fa fa-arrow-right" aria-hidden="true"></i>Đang Chờ Thanh Toán</option>
      <option value="1" style="color: dodgerblue "><i class="fa fa-arrow-right" aria-hidden="true"></i>Đang Chờ Xác Nhận</option>
      <option value="2" style="color: #259f40 "><i class="fa fa-arrow-right" aria-hidden="true"></i>Đơn hàng đã được xác nhận</option>
      <option value="3" style="color: red "><i class="fa fa-arrow-right" aria-hidden="true"></i>Đơn hàng bị hủy</option>
    </select>
    <div style="">
      <table class="timetable_sub" style="border:2px solid #CDCDCD;border-radius: 10px">
        <thead>
        <tr>
          <th style="font-size: large">STT</th>
          <th style="font-size: large">Hóa đơn</th>
          <th style="font-size: large">Tên sản phẩm</th>
          <th style="font-size: large">Tên cửa hàng</th>
          <th style="font-size: large">Số lượng sản phẩm</th>
          <th style="font-size: large">Tổng tiền(VND)</th>
          <th style="font-size: large">Trạng thái đơn</th>
        </tr>
        </thead>
        <tr class="rem1" *ngFor="let item of carts,index as i">
          <td class="invert">{{i + 1}}</td>
          <td>
           <span style="font-size: medium;">{{item.billId}}</span>
          </td>
          <td class="invert">
            <span style="font-size: medium;">{{item.product.name}} </span>
          </td>
          <td class="invert">
            <div style="font-size: medium;">{{item.shopId.name}} </div>
          </td>
          <td class="invert">
            <div style="font-size: medium;">{{item.quantity}} </div>
          </td>
          <td class="invert">
            <div style="font-size: medium;">{{item.product.price*item.quantity}} </div>
          </td>
          <td>
          <div *ngIf="item.status == 0">
          <div style="font-size: 18px;margin-left: 30px;color: #259f40;font-weight: 600">Đang chờ thanh toán</div>
          </div>
          <div *ngIf="item.status == 1">
            <div style="font-size: 18px;margin-left: 10px;color: dodgerblue;font-weight: 600">Đang chờ xác nhận</div>
          </div>
          <div *ngIf="item.status == 2">
            <div style="font-size: 18px;margin-left: 10px;color: #259f40;font-weight: 600">Đơn hàng đã được xác nhận</div>
          </div>
          <div *ngIf="item.status == 3">
            <div style="font-size: 18px;margin-left: 10px;color: red;font-weight: 600">Đơn hàng bị hủy</div>
          </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>

<app-footer></app-footer>
