<app-navbar></app-navbar>
<div class="register-area">
  <div class="container">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="box-for overflow">
        <div class="col-md-12 col-xs-12 login-blocks">
          <h2>Đăng ký: </h2>
          <form [formGroup]="registerForm" (ngSubmit)="register()" novalidate>
            <div class="form-group">
              <label for="username">Tên đăng nhập</label>
              <input type="text" class="form-control" formControlName="username" id="username">
            </div>
            <div class="error-page" *ngIf="username?.invalid && (username?.dirty || username?.touched)">
              <div *ngIf="username?.errors?.['required']" class="error-title">
                <p>Tên đăng nhập không được để trống</p>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Mật khẩu</label>
              <input type="password" class="form-control" id="password" formControlName="password">
            </div>
            <div class="error-page" *ngIf="password?.invalid && (password?.dirty || password?.touched)">
              <div *ngIf="password?.errors?.['required']" class="error-title">
                <p>Mật khẩu không được để trống</p>
              </div>
            </div>
            <div class="form-group">
              <label for="confirmPassword">Xác nhận mật khẩu</label>
              <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword">
            </div>
            <div class="error-page" *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)">
              <div *ngIf="confirmPassword?.errors?.['required']" class="error-title">
                <p>Xác nhận mật khẩu không được để trống</p>
              </div>
            </div>
            <div class="form-group">
              <label for="phone">Số điện thoại</label>
              <input type="text" class="form-control" id="phone" formControlName="phone">
            </div>
            <div class="error-page" *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)">
              <div *ngIf="phone?.errors?.['required']" class="error-title">
                <p>Số điện thoại không được để trống</p>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-default btn-login"> Đăng ký</button>
              <button class="btn btn-default btn-login" routerLink="/login"> Đăng nhập</button>
            </div>
          </form>
          <br>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
<app-footer></app-footer>
<!--modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Đăng ký thành công
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="switchToLogin()">OK</button>
      </div>
    </div>
  </div>
</div>
